{% extends "partials/elements_module_base.html.twig" %}
{% use "partials/elements_title.html.twig" %}


{% block element %}

    {% set element_type = "#{ element_type ?? config.plugins.elements.css.classname.module }" %}
    {% set element_variant = "#{ element_variant ?? 'columns' }" %}
    {{ parent() }}

{% endblock element %}


{% block element_content %}

    {% set CONF = config.plugins.elements %}
    {% set EL = header.element %}

    {% set outerclasses = "" %}
    {% set innerclasses = "" %}

    {# outer #}
    {% set outerclasses = "#{outerclasses} #{CONF.css.classname.columns.row}" %}
    {% if EL.columns.no_gutters %} 
      {% set outerclasses = "#{outerclasses} #{CONF.css.classname.columns['no-gutters']}" %}
    {% endif %}
    
    {# innner #}
    {% set innerclasses = "#{innerclasses} #{CONF.css.classname.columns.column}" %}


    {# final variable preparation #}
    {% set outerclasses = outerclasses|trim %}
    {% set innerclasses = innerclasses|trim %}

    {# Render Children #}
    <div class="{{element_type|e}}__content {{outerclasses|e}}" >
        {% for column in page.collection() %}

            {% if ( (header.element.columns.items[loop.index0] is defined) or (header.element.columns.render_overflow) ) %}
              
              {% set this_col = header.element.columns.items[loop.index0] %}

              {% set specific_classes = "" %}
              {% if this_col.width is defined %}
                {% set specific_classes = "#{CONF.css.prefix['fixed-column']}#{this_col.width}" %}
              {% endif %}
              {% if this_col.additional_classes is defined %}
                {% set specific_classes = "#{specific_classes} #{this_col.additional_classes}" %}
              {% endif %}

              <div class="{{innerclasses|e}} {{specific_classes|e}}">
                  {{ column.content|raw }}
              </div>

            {% endif %}

        {% endfor %}
    </div>

{% endblock element_content %}
