

{# Set shortcut variables #}
{% set p_adv_mt = header.element.spacing.margintop %}
{% set p_adv_mb = header.element.spacing.marginbottom %}
{% set p_adv_pt = header.element.spacing.paddingtop %}
{% set p_adv_pb = header.element.spacing.paddingbottom %}
{% set p_adv_bgcol = header.element.bgcolor %}
{% set p_adv_colneg = header.element.negative_mode %}
{% set p_adv_bgimg = header.element.bgimg %}
{% set p_adv_clayout = header.element.layout %}

{# Collect layout classes #}
{% set p_adv_lay_classes = "" %}
{% if p_adv_mt != "default" %} {% set p_adv_lay_classes = p_adv_lay_classes ~ " mt--" ~ p_adv_mt %} {% endif %}
{% if p_adv_mb != "default" %} {% set p_adv_lay_classes = p_adv_lay_classes ~ " mb--" ~ p_adv_mb %} {% endif %}
{% if p_adv_pt != "default" %} {% set p_adv_lay_classes = p_adv_lay_classes ~ " pt--" ~ p_adv_pt %} {% endif %}
{% if p_adv_pb != "default" %} {% set p_adv_lay_classes = p_adv_lay_classes ~ " pb--" ~ p_adv_pb %} {% endif %}
{% if p_adv_bgcol != "default" %} {% set p_adv_lay_classes = p_adv_lay_classes ~ " bg--" ~ p_adv_bgcol %} {% endif %}
{% if p_adv_colneg %} {% set p_adv_lay_classes = p_adv_lay_classes ~ " color-negative" %} {% endif %}

{# Handle element _width #}
{% set p_adv_innercontainerclass = "" %}
{% switch p_adv_clayout %}
    {% case 'full' %}
        {% set p_adv_lay_classes = p_adv_lay_classes ~ " u-full-width" %}
    {% case 'bgfull' %}
        {% set p_adv_lay_classes = p_adv_lay_classes ~ " u-full-width" %}
        {% set p_adv_innercontainerclass = "container" %}
    {% default %}
        {# default is chosen, nothing to do for now #}
{% endswitch %}

{# Handle background image #}
{% set p_adv_styleattr = "" %}
{% if p_adv_bgimg %}
    {% set p_adv_bgimg_obj = page.media[p_adv_bgimg] %}
    {% set p_adv_styleattr = "style=\"background-image: url('" ~ p_adv_bgimg_obj.cropResize(1920, 1280).url|e ~ "');\"" %}
{% endif %}



{% set pagevariant = "" %}

{# Generating the container #}
{% block element %}
    <div class="page container {{pagevariant}} {{ p_adv_lay_classes }} {{ header.element.classes }}" {{ p_adv_styleattr|raw }} >
        <div class="{{ p_adv_innercontainerclass }}">
            
            {% block element_inner %}
                <span class="page__title">
                </span>
                <div class="page__content">
                    {{ page.content|raw }}
                </div>
            {% endblock element_inner %}
            
        </div>
    </div>
{% endblock element %}
