

{% block element %}

    {% set CONF = config.plugins.elements %}
    {% set PREFIXES = CONF.css.prefix %}
    {% set LAYOUTOPTIONS = CONF.layoutoptions %}
    {% set CLASSNAMES = CONF.css.classname %}

    {% set mt = header.element.spacing.margintop %}
    {% set mb = header.element.spacing.marginbottom %}
    {% set pt = header.element.spacing.paddingtop %}
    {% set pb = header.element.spacing.paddingbottom %}
    {% set pb = header.element.spacing.paddingbottom %}
    {% set bgcol = header.element.bgcolor %}

    {% set outerclasses = "" %}
    {% set innerclasses = "" %}
    {% set style_attributes = "" %}

    {# spacing #}
    {% if mt is defined and mt is not null and mt != LAYOUTOPTIONS.spacing.default %} {% set outerclasses = "#{outerclasses} #{PREFIXES['margin-top']}#{mt}" %} {% endif %}
    {% if mb is defined and mb is not null and mb != LAYOUTOPTIONS.spacing.default %} {% set outerclasses = "#{outerclasses} #{PREFIXES['margin-bottom']}#{mb}" %} {% endif %}
    {% if pt is defined and pt is not null and pt != LAYOUTOPTIONS.spacing.default %} {% set outerclasses = "#{outerclasses} #{PREFIXES['padding-top']}#{pt}" %} {% endif %}
    {% if pb is defined and pb is not null and pb != LAYOUTOPTIONS.spacing.default %} {% set outerclasses = "#{outerclasses} #{PREFIXES['padding-bottom']}#{pb}" %} {% endif %}

    {# color #}
    {% if bgcol is defined and bgcol is not null and bgcol != LAYOUTOPTIONS.colors.default %} {% set outerclasses = "#{outerclasses} #{PREFIXES['background-color']}#{bgcol}" %} {% endif %}
    {% if header.element.negative_mode %} {% set outerclasses = "#{outerclasses} #{CLASSNAMES.negativecolors}" %} {% endif %}

    {# content layout #}
    {% switch header.element.contentlayout %}
        {% case 'full' %}
            {% set outerclasses = "#{outerclasses} #{CLASSNAMES.container.fullwidth}" %}
        {% case 'bgfull' %}
            {% set outerclasses = "#{outerclasses} #{CLASSNAMES.container.fullwidth}" %}
            {% set innerclasses = "#{innerclasses} #{CLASSNAMES.container.regular}" %}
        {% default %}
            {% set innerclasses = "#{innerclasses} #{CLASSNAMES.container.regular}" %}
    {% endswitch %}

    {# background image #}
    {% if header.element.bgimg %}
        {% set bgimg_obj = page.media[header.element.bgimg] %}
        {% set style_attributes = "background-image: url('#{bgimg_obj.cropResize(CONF.settings['background-image']['max-width'], CONF.settings['background-image']['max-height']).url|e}');" %}
    {% endif %}



    {# final variable preparation #}
    {% set element_type = "#{ element_type ?? '' }" %}
    {% set element_variant = "#{ element_variant ?? '' }" %}
    {% set outerclasses = outerclasses|trim %}
    {% set innerclasses = innerclasses|trim %}
    {% set style_attributes = "style=\"#{style_attributes}\"" %}

    
    {# render element #}
    <div class="{{element_type|e}} {{element_variant|e}} {{outerclasses|e}} {{header.element.classes|e}}" {{style_attributes|raw}} >
        <div class="{{innerclasses|e}}">
            
            {% block element_content %}
                <h1 class="page__title">{{page.title|e}}</h1>
                <div class="page__content">{{page.content|raw}}</div>
            {% endblock element_content %}
            
        </div>
    </div>

{% endblock element %}

