

{% block element %}

    {# CONFING ACCESSORS (for convenience) #}
    {% set CONF = config.plugins.elements %}
    {% set PREFIX = CONF.css.prefix %}
    {% set LAYOUTOPTIONS = CONF.layoutoptions %}
    {% set CLASSNAMES = CONF.css.classname %}
    {% set EL = header.element %}


    {# redeem settings #}
    {% set element_type = "#{ element_type ?? '' }" %}
    {% set element_variant = "#{ element_variant ?? '' }" %}
    {% set outerclasses = "#{ element_outerclasses ?? [] }" %}
    {% set innerclasses = "#{ element_innerclasses ?? [] }" %}
    {% set style_attributes = "#{ element_style_attributes ?? [] }" %}
    {% set element_default_title = "#{ element_default_title ?? true }" %}
    {% set element_default_header = "#{ element_default_header ?? true }" %}
    {% set element_has_header = (header.element.pagehead.image is defined) ? true : false %}


    {# spacing #}
    {% if EL.spacing.margin.top is defined %}     {% set outerclasses = outerclasses|merge(["#{PREFIX.margin.top}#{EL.spacing.margin.top}"]) %}         {% endif %}
    {% if EL.spacing.margin.bottom is defined %}  {% set outerclasses = outerclasses|merge(["#{PREFIX.margin.bottom}#{EL.spacing.margin.bottom}"]) %}   {% endif %}
    {% if EL.spacing.margin.left is defined %}    {% set outerclasses = outerclasses|merge(["#{PREFIX.margin.left}#{EL.spacing.margin.left}"]) %}       {% endif %}
    {% if EL.spacing.margin.right is defined %}   {% set outerclasses = outerclasses|merge(["#{PREFIX.margin.right}#{EL.spacing.margin.right}"]) %}     {% endif %}
    {% if EL.spacing.padding.top is defined %}    {% set outerclasses = outerclasses|merge(["#{PREFIX.padding.top}#{EL.spacing.padding.top}"]) %}       {% endif %}
    {% if EL.spacing.padding.bottom is defined %} {% set outerclasses = outerclasses|merge(["#{PREFIX.padding.bottom}#{EL.spacing.padding.bottom}"]) %} {% endif %}
    {% if EL.spacing.padding.left is defined %}   {% set outerclasses = outerclasses|merge(["#{PREFIX.padding.left}#{EL.spacing.padding.left}"]) %}     {% endif %}
    {% if EL.spacing.padding.right is defined %}  {% set outerclasses = outerclasses|merge(["#{PREFIX.padding.right}#{EL.spacing.padding.right}"]) %}   {% endif %}


    {# color #}
    {% if EL.bgcolor is defined %} {% set outerclasses = outerclasses|merge(["#{PREFIX['background-color']}#{EL.bgcolor}"]) %} {% endif %}


    {# settings #}
    {% if EL.negative_mode is defined and EL.negative_mode == true %} {% set outerclasses = outerclasses|merge(["#{CLASSNAMES.negativecolors}"]) %} {% endif %}


    {# content layout #}
    {% switch EL.contentlayout %}
        {% case 'full' %}
            {% set outerclasses = outerclasses|merge(["#{CLASSNAMES.container.fullwidth}"]) %}
        {% case 'bgfull' %}
            {% set outerclasses = outerclasses|merge(["#{CLASSNAMES.container.fullwidth}"]) %}
            {% set innerclasses = innerclasses|merge(["#{CLASSNAMES.container.regular}"]) %}
        {% case 'small' %}
            {% set outerclasses = outerclasses|merge(["#{CLASSNAMES.container.regular}", "#{CLASSNAMES.container.small}"]) %}
            {% set innerclasses = innerclasses|merge(["#{CLASSNAMES.container.regular}"]) %}
        {% case 'bgsmall' %}
            {% set outerclasses = outerclasses|merge(["#{CLASSNAMES.container.fullwidth}"]) %}
            {% set innerclasses = innerclasses|merge(["#{CLASSNAMES.container.regular}", "#{CLASSNAMES.container.small}"]) %}
        {% default %}
            {% set outerclasses = outerclasses|merge(["#{CLASSNAMES.container.regular}"]) %}
            {% set innerclasses = innerclasses|merge(["#{CLASSNAMES.container.regular}"]) %}
    {% endswitch %}


    {# fixed height #}
    {% if EL.height %} {% set style_attributes = style_attributes|merge(["height: #{EL.height|int}vh"]) %} {% endif %}


    {# background image #}
    {% if EL.bgimg %}
        {% set bgimg_obj = page.media[EL.bgimg] %}
        {% set bgimg_obj = bgimg_obj.cropResize( CONF.other['background-image']['max-width'], CONF.other['background-image']['max-height'] ) %}
        {% set style_attributes = style_attributes|merge(["background-image: url('#{bgimg_obj.url|e}')"]) %}
    {% endif %}


    {# transitions #}
    {% if EL.transition.above is defined %} {% set outerclasses = outerclasses|merge(["#{PREFIX.transition.main}#{PREFIX.transition.above}#{EL.transition.above}"]) %} {% endif %}
    {% if EL.transition.below is defined %} {% set outerclasses = outerclasses|merge(["#{PREFIX.transition.main}#{PREFIX.transition.below}#{EL.transition.below}"]) %} {% endif %}


    {# add additional classes from outside #}
    {% set outerclasses = outerclasses|merge(["#{element_add_outerclasses|trim|e}"]) %}
    {% set innerclasses = innerclasses|merge(["#{element_add_innerclasses|trim|e}"]) %}


    {# add specific id if give #}
    {% set outer_id = "" %}
    {% if EL.id is defined %} {% set outer_id = "id=\"#{EL.id|e}\"" %} {% endif %}


    {# add info about header #}
    {% set outerclasses = (element_has_header) ? outerclasses|merge(["has_header"]) : outerclasses %}


    {# final variable preparation #}
    {% set outerclasses = outerclasses|join(" ") %}
    {% set innerclasses = innerclasses|join(" ") %}
    {% set variantclass = "#{element_type}--#{element_variant}" %}

    {% if style_attributes is not empty %}
        {% set style_attributes = "style=\"#{style_attributes|join('; ')}\"" %}
    {% else %}
        {% set style_attributes = "" %}
    {% endif %}

    {# render element #}
    <div class="{{element_type|e}} {{variantclass|e}} {{outerclasses|e}} {{EL.classes|e}}" {{style_attributes|raw}} {{outer_id|raw}} >
        <div class="{{innerclasses|e}}">

        {% block element_header_before %} {% endblock %}
        {% if element_default_header %}
            {% block element_header %} {% endblock %}
        {% endif %}
        {% block element_header_after %} {% endblock %}

            {% block element_title_before %} {% endblock %}
            {% if element_default_title %}
                {% block element_title %} {% endblock %}
            {% endif %}
            {% block element_title_after %} {% endblock %}


            {% block element_main_before %} {% endblock %}
            {% block element_content %}
                <div class="{{element_type|e}}__content">{{page.content|raw}}</div>
            {% endblock element_content %}
            {% block element_main_after %} {% endblock %}

        </div>
    </div>

{% endblock element %}
